
      body {
        background: yellow;
        margin: 5%;
      }
      
      h1#title {
        color: blue;
		margin-bottom: 0px;
		padding-bottom: 0px;
	  }
      
      h2 {
        color: blue;
		margin-top: 0px;
		padding-top: 0px;
	
      }
      
      article h2 {
        color: black;
        font-style: italic;
		margin-top: 30pix;
      }
      
      article {
        border-bottom: 1px dashed black;
        padding: 0% 0% 3% 0%;
      }
      
      p#tagline {
        background: gray;
        color: white;
        border: 1px solid black;
        padding: 20px;
        text-align: center;
      }
      .content {
        background: white;
        border: 1px solid black;
        padding: 0% 5%;  
    	}
        
  }