  body {

	background: red;
 }
 
 h1 {
 font-family: Arial;
 text-align: center;
 font-size:60px;
 
 
 }
.circles {
	display: block;
	height: 100px;
/*	outline: 1px solid green; */
}

.circle {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	line-height: 100px;
/*	vertical-align: 100px; */
	text-align: center; /* will be center of circle as line and circle width the same *
	/* Make a circle; total width = 98 + 1 border + 1 border*/
	border-radius: 50%;
	/* border-radius: 100%  according to codecademy */
	border: 1px solid black;
	width:  98px;
	height: 98px;
	margin: 0px;
	cursor: pointer; /* cursor changes to pointer when over this element */

/*	outline: 1px solid red; */
} 

.odd {
	background: black;
	color: white;
}
.even {
	background: white;
	color: black;
}
.oddball {
	position: fixed;
	right: 10px;
	bottom: 10px; 
/* Wrong as it only goes to next line; not bottom corner */	
/*	float: right; */
}
