input {
  width: 200px;
}

#control {
  text-align: center;
  margin: 25px 0;
}

.circles {
  width: 825px;
  margin: 0 auto;
}
.circle {
  color: black;
  background: white;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  cursor: pointer;
  border-radius: 100px;
}

.circle.odd {
  color: white;
  background: black;
}

.oddball {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
